@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
    user-select: none;
    scroll-behavior: smooth;
}
body {
    background: url('back.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul li {
    display: inline-block;
    margin: 10px;
    font-size: 30px;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    padding: 1rem;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: #1C1B19;
    font-size: 32px;
}
.main {
    min-height: 100vh;
    display: flex;
    justify-content:left;
    align-items: center;
}
main h1 {
    color: white;
    font-size: 140px;
    -webkit-text-stroke: 5px #1C1B19;
    padding: 1rem;
}
main p {
    font-size: 50px;
    padding: 0 0 0 2rem;
}
main cite {
    font-size: 50px;
    padding: 0 0 0 20rem;
}
.main h3 a {
    position: absolute;
    left: 150px;
    background: #1C1B19;
    width: 30%; 
    border-radius: 100px;
    color: white;
    font-size: 40px;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
}
.main h3 a:hover {
    font-size: 60px;
}
.about {
    min-height: 100vh;
    background: #1C1B19;
}
article {
    color: white;
    text-align: right;
    padding: 5rem;
}
article img {
    float: left;
    width: 50%;
}
article h1 {
    font-size: 60px;
    text-align: center;
}
article span > * {
    font-size: 20px;
    border-radius: 100px;
    text-align: center;
}
.blog {
    min-height: 100vh;
    background: #CCCCCC;
}
.blog img {
    float: left;
    position: absolute;
    top:1455px;
}
.blog main {
    float: right;
    text-align: center;
}
.blog main a {
    text-decoration: none;
    color: white;
    background-color: #1C1B19;
    border-radius: 100px;
    padding: 1rem;
    transition: 0.5s;
}
.blog main a:hover {
    font-size: larger;
}
footer {
    min-height: 30vh;
    background: #1C1B19;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 20px;
}
footer p {
    font-size: 50px;
}
footer a {
    font-size: 50px;
    margin: 40px;
    color: white;
    transition: 0.3s;
}
footer a:hover {
    text-shadow: 0 0 10px;
    font-size: 60px;
    margin: 40px;
    color: white;
}